
img{
  height: 100vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10vh;
  
}

#sfw {

    visibility: hidden;
}

.center{
    text-align: center;
    font-size: 6rem;
    padding-top: 10vh;
    position: absolute;
    display: block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transform: translate(65%, 0%);
}
.center-bot{
    text-align: center;
    font-size: 6rem;
    padding-top: 10vh;
    position: absolute;
    display: block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transform: translate(45%, 250%);
}

